@model SDSolutionsApp.Models.RecyclableType

@{
    ViewBag.Title = "Type Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Type Details</h2>

<div>
    <h4>Recyclable Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinKg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinKg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxKg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxKg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditType", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ListTypes")
</p>
