@model IEnumerable<SDSolutionsApp.Models.RecyclableType>

@{
    ViewBag.Title = "List of Types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Types</h2>

<p>
    @Html.ActionLink("Add a new Type", "AddType")
</p>
<p>
    @Html.ActionLink("Return to Index", "Index", "Recyclable")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinKg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxKg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {// "Model" is the list you passed in the function
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinKg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxKg)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditType", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsType", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteType", new { id=item.Id })
        </td>
    </tr>
}

</table>
